/* src/components/Particles/Particles.css */
.particle {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  animation-name: particle-float;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes particle-float {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) translateX(50px);
    opacity: 0;
  }
}
